h1{
    color:blue;
    &:hover{
        color:black;
    }
    text-align: center;
}
li{
    width: 1000px;
    padding: 10px;
    position: relative;
    float: left;    
}
#about{
    padding: 85px;
}

body{
    background-color: rgb(179, 179, 179);
}